<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <span class="navbar-brand">Code First</span>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="home">Principal</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Aviones
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="aviones/crear">Crear avión</a></li>
              <li><a class="dropdown-item" href="aviones/listado">Listado de aviones</a></li>
            </ul>
          </li>      
        </ul>
        <div>
          <button class="btn btn-outline-success me-2" type="button" *ngIf="!CheckSession()" routerLink="/login">Log In</button>
          <button class="btn btn-outline-secondary" type="button" *ngIf="CheckSession()" (click)="CerrarSesion()" routerLink="/home">Log Out</button>
        </div>
      </div>
    </div>
  </nav>
<router-outlet></router-outlet>